profile-management/src/main/resources/wsdl/Sabre_OTA_Common_AgentTypes.xsd

<!--edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by Karol Hadala (HP/ Sabre)-->
<!--edited with XMLSpy v2009 sp1 (http://www.altova.com) by Artur Wypor (SABRE)-->
<!--edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Ramesh Pitani (SABRE HOLDINGS)-->
<xs:schema targetNamespace="http://www.sabre.com/eps/schemas" elementFormDefault="qualified" version="${version}" id="SABRE2007_OTA2007B" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sabre.com/eps/schemas">
   <xs:include schemaLocation="Sabre_OTA_SimpleTypes.xsd"/>
   <xs:include schemaLocation="Sabre_OTA_CommonTypes.xsd"/>
   <xs:include schemaLocation="Sabre_OTA_Common_Extensions.xsd"/>
   <xs:include schemaLocation="Sabre_OTA_Common_TPA_Extensions.xsd"/>
   <xs:include schemaLocation="Sabre_OTA_Common_Preferences.xsd"/>
   <xs:annotation>
      <xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
   </xs:annotation>
   <xs:complexType name="TravelAgentProfileType">
      <xs:annotation>
         <xs:documentation>Individual Travel Arranger</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="AgentName" type="AgentNameType" minOccurs="0" maxOccurs="50">
            <xs:annotation>
               <xs:documentation xml:lang="en">***SABRE ADDED *** Agent Name Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AgentInfo" type="AgentInfoType" minOccurs="0">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Agenct Information data</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AgentRelatedIndividuals" type="RelatedIndividualType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Agent Related Names Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AgentGDSIdentity" type="AgentGDSIdentityType" minOccurs="0" maxOccurs="10">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Agent GDS identity information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Address Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Telephone" type="TelephoneType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Telephone Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Email" type="EmailType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Email Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentForm" type="PaymentFormType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED*** Payment Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EmergencyContactPerson" type="EmergencyContactPersonType" minOccurs="0" maxOccurs="10">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Emergency Contact Person Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Document" type="DocumentType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Document Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustLoyalty" type="CustLoyaltyType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Customer Loyalty (Frequent Flyer, Prefered Vendor etc.) Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EmploymentInfo" type="EmploymentInfoType" minOccurs="0" maxOccurs="25">
            <xs:annotation>
               <xs:documentation>*** Sabre Added *** EmploymentInfo elements and attributes, per Trading Partner Agreement (TPA)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GDS" type="GDSType" minOccurs="0" maxOccurs="5">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** GDS data associated with an agent</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PriorityRemarks" type="PriorityRemarksType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Priority Lines of a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Remark" type="RemarkType" minOccurs="0" maxOccurs="1000">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Remarks of a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomerReferenceInfo" type="CustomerReferenceInfoType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Third party system Reference IDs for a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BusinessSystemIdentityInfo" type="BusinessSystemIdentityInfoType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Agenct BackOffice System Information data</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AssociatedProfiles" type="AssociatedProfilesType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** (For Profiles Only --Templates/Filters should not use this Subject area) Associated profiles</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AssociatedFilters" type="AssociatedFiltersType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** (For Profiles Only --Templates/Filters should not use this Subject area) Filters Associated to a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AssociatedTemplate" type="AssociatedTemplateType" minOccurs="0" maxOccurs="25">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** (For Profiles Only --Templates/Filters should not use this Subject area)Template Associated to a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AssociatedFormats" type="AssociatedFormatsType" minOccurs="0" maxOccurs="500">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Information about Formats associated with a template</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Discounts" type="DiscountsType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Discount Associated to a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomDefinedData" type="CustomDefinedDataType" minOccurs="0" maxOccurs="500">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Customer Defined Data</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PrefCollections" type="PrefCollectionsType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based*** Preferences of a Profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="QueueAssignments" type="QueueAssignmentsType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Queue Assignments</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Commissions" type="CommissionsType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Commissions</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Roles" type="RolesType" minOccurs="0">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Roles associated to a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="STARData" type="STARDataType" minOccurs="0" maxOccurs="1000">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** STAR Data that got migrated to PPP *** Please Note that this is Temporary only and will not be supported in PPP after 2012</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SabreSecurityEntityAttribute" type="SabreSecurityEntityAttributeType" minOccurs="0" maxOccurs="50">
            <xs:annotation>
               <xs:documentation>Deprecated *** SABRE ADDED *** Sabre security attributes only that are added in TPF for a Travel Agent like CCView, this section will be populated as part of EPR to P3 Proifle conversion</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Incentives" type="IncentivesType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Incentives</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfAssocProfiles" type="NumberOfAssocProfilesType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Number of profiles associated to and from this profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <!--xs:element name="TravelPolicy" type="TravelPolicyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>*** SABRE ADDED *** Travel Policy aplied Indicator when  external Travel Policies are used  </xs:documentation>
				</xs:annotation>
			</xs:element-->
         <xs:element name="CustomDefinedValues" type="CustomDefinedValuesType" minOccurs="0" maxOccurs="500">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Customer Defined Values can store any name/value pairs that can represent any customer data. There are no restrictions on the content of Name or Value. Name element can be stored without Value.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AgentNameType">
      <xs:sequence>
         <xs:element name="TransactionalData" type="TransactionalDataType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Transactional Data only , This data will not be stored with a profile, this will be stored only in templates if needed and should be used with Templates only</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="NamePrefix" type="StringLength1to100" use="optional">
         <xs:annotation>
            <xs:documentation>Name Prefix</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="GivenName" type="StringLength1to100" use="optional">
         <xs:annotation>
            <xs:documentation>First Name</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MiddleName" type="StringLength1to100" use="optional">
         <xs:annotation>
            <xs:documentation>Middle Name</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SurName" type="StringLength1to100" use="required">
         <xs:annotation>
            <xs:documentation>Last Name</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="NameSuffix" type="StringLength1to100" use="optional">
         <xs:annotation>
            <xs:documentation>Name Suffix</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PreferredFirstName" type="StringLength1to30" use="optional"/>
      <xs:attribute name="PreferredLastName" type="StringLength1to30" use="optional"/>
      <xs:attribute name="DisplaySequenceNo" type="NumericStringLength1to3" use="optional">
         <xs:annotation>
            <xs:documentation xml:lang="en">Defines sorting order for collection elements, numbers have to be unique within collection</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="OrderSequenceNo" type="NumericStringLength1to3" use="optional"/>
      <xs:attribute name="LanguageIDCode" type="StringLength1to5" use="optional">
         <xs:annotation>
            <xs:documentation xml:lang="en">Identifes the primary language preference for the message. The human language is identified by ISO 639 codes.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="AgentInfoType">
      <xs:annotation>
         <xs:documentation>Agent Information Data</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TaxInfo" type="TaxInfoType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Tax Information associated to a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TransactionalData" type="TransactionalDataType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Transactional Data only , This data will not be stored with a profile, this will be stored only in templates if needed and should be used with Templates only</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="BirthDate" type="xs:date" use="optional">
         <xs:annotation>
            <xs:documentation xml:lang="en">Indicates the date of birth as indicated in the document, in ISO 8601 prescribed format.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MaritalStatusCode" type="StringLength1" use="optional">
         <xs:annotation>
            <xs:documentation xml:lang="en">***SABRE ADDED*** Marital status of a person</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="GenderCode" type="StringLength1to2" use="optional"/>
      <xs:attribute name="AgeRange" type="StringLength1to30" use="optional">
         <xs:annotation>
            <xs:documentation xml:lang="en">***SABRE ADDED*** Age Range of a person customizable by a client</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="RedressNumber" type="StringLength1to30" use="optional"/>
      <xs:attribute name="KnownTravelerNumber" type="StringLength1to30" use="optional"/>
      <xs:attribute name="SeniorIndicator" type="YesNoType" use="optional"/>
      <xs:attribute name="SuperUser" type="YesNoType" use="optional"/>
   </xs:complexType>
   <xs:complexType name="AgentGDSIdentityType">
      <xs:annotation>
         <xs:documentation>Agent GDS Identity Data</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TransactionalData" type="TransactionalDataType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Transactional Data only , This data will not be stored with a profile, this will be stored only in templates if needed and should be used with Templates only</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="AgentSine" type="StringLength1to10" use="optional">
         <xs:annotation>
            <xs:documentation xml:lang="en">Agent Sign Information</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="AgentID" type="StringLength1to20" use="optional">
         <xs:annotation>
            <xs:documentation xml:lang="en">***SABRE ADDED*** Agent ID in GDS</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="GDSCode" type="StringLength1to2" use="required">
         <xs:annotation>
            <xs:documentation xml:lang="en">***SABRE ADDED*** GDS Code</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DisplaySequenceNo" type="NumericStringLength1to3" use="optional">
         <xs:annotation>
            <xs:documentation xml:lang="en">Defines sorting order for collection elements, numbers have to be unique within collection</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="OrderSequenceNo" type="NumericStringLength1to3" use="optional">
         <xs:annotation>
            <xs:documentation xml:lang="en">Sequence Number with 1 being primary</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="SearchRSTravelAgentProfileType">
      <xs:annotation>
         <xs:documentation>Search Individual Travel Agent</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="AgentName" type="AgentNameType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">***SABRE ADDED *** Agent Name Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AgentInfo" type="SearchRSAgentInfoType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">***SABRE ADDED *** Agent Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Address" type="SearchRSAddressType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Address Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Telephone" type="SearchRSTelephoneType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Telephone Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Email" type="SearchRSEmailType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Email Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentForm" type="PaymentFormType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Payment Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AssociatedProfiles" type="SearchRSAssociatedProfilesType" minOccurs="0" maxOccurs="5">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Associated profiles</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Remark" type="SearchRSRemarkType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Remarks of a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomerReferenceInfo" type="SearchRSCustomerReferenceInfoType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Third party system Reference IDs for a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BusinessSystemIdentity" type="SearchRSBusinessSystemIdentityInfoType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Third party system Reference IDs for a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustLoyalty" type="SearchRSCustLoyaltyType" minOccurs="0"/>
         <xs:element name="AssociatedTemplate" type="AssociatedTemplateType" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProfileToPNRTravelAgentProfileType">
      <xs:annotation>
         <xs:documentation>Individual Travel Arranger</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="AgentName" type="AgentNameType" minOccurs="0" maxOccurs="50">
            <xs:annotation>
               <xs:documentation xml:lang="en">***SABRE ADDED *** Agent Name Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AgentInfo" type="AgentInfoType" minOccurs="0">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Agenct Information data</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AgentRelatedIndividuals" type="RelatedIndividualType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Agent Related Names Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AgentGDSIdentity" type="AgentGDSIdentityType" minOccurs="0" maxOccurs="10">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Agent GDS identity information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Address Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Telephone" type="TelephoneType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Telephone Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Email" type="EmailType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Email Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentForm" type="PaymentFormType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED*** Payment Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EmergencyContactPerson" type="EmergencyContactPersonType" minOccurs="0" maxOccurs="10">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Emergency Contact Person Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Document" type="DocumentType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Document Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustLoyalty" type="CustLoyaltyType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Customer Loyalty (Frequent Flyer, Prefered Vendor etc.) Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EmploymentInfo" type="EmploymentInfoType" minOccurs="0" maxOccurs="25">
            <xs:annotation>
               <xs:documentation>*** Sabre Added *** EmploymentInfo elements and attributes, per Trading Partner Agreement (TPA)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GDS" type="GDSType" minOccurs="0" maxOccurs="5">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** GDS data associated with an agent</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Remark" type="RemarkType" minOccurs="0" maxOccurs="1000">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Remarks of a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomerReferenceInfo" type="CustomerReferenceInfoType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Third party system Reference IDs for a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BusinessSystemIdentityInfo" type="BusinessSystemIdentityInfoType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Agenct BackOffice System Information data</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AssociatedProfiles" type="ProfileToPNR_AssociatedProfilesType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** (For Profiles Only --Templates/Filters should not use this Subject area) Associated profiles</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Discounts" type="DiscountsType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Discount Associated to a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomDefinedData" type="CustomDefinedDataType" minOccurs="0" maxOccurs="500">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Customer Defined Data</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PrefCollections" type="PrefCollectionsType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based*** Preferences of a Profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="QueueAssignments" type="QueueAssignmentsType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Queue Assignments</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Commissions" type="CommissionsType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Commissions</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Incentives" type="IncentivesType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Incentives</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FilterAgentNameType">
      <xs:attribute name="NamePrefix" type="StringLength1to100" use="optional">
         <xs:annotation>
            <xs:documentation>Name Prefix</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="GivenName" type="StringLength1to100" use="optional">
         <xs:annotation>
            <xs:documentation>First Name</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="MiddleName" type="StringLength1to100" use="optional">
         <xs:annotation>
            <xs:documentation>Middle Name</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SurName" type="StringLength1to100" use="required">
         <xs:annotation>
            <xs:documentation>Last Name</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="NameSuffix" type="StringLength1to100" use="optional">
         <xs:annotation>
            <xs:documentation>Name Suffix</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DisplaySequenceNo" type="NumericStringLength1to3" use="optional">
         <xs:annotation>
            <xs:documentation xml:lang="en">Defines sorting order for collection elements, numbers have to be unique within collection</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="OrderSequenceNo" type="NumericStringLength1to3" use="optional"/>
      <xs:attribute name="LanguageIDCode" type="StringLength1to5" use="optional">
         <xs:annotation>
            <xs:documentation xml:lang="en">Identifes the primary language preference for the message. The human language is identified by ISO 639 codes.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="FilterTravelAgentProfileType">
      <xs:annotation>
         <xs:documentation>Individual Travel Arranger</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="AgentName" type="FilterAgentNameType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">***SABRE ADDED *** Agent Name Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Address" type="FilterAddressType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Address Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Telephone" type="FilterTelephoneType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Telephone Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Email" type="FilterEmailType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Email Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentForm" type="FilterPaymentFormType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED*** Payment Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Document" type="FilterDocumentType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Document Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustLoyalty" type="FilterCustLoyaltyType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Customer Loyalty (Frequent Flyer, Prefered Vendor etc.) Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Remark" type="FilterRemarkType" minOccurs="0" maxOccurs="1000">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Remarks of a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomerReferenceInfo" type="FilterCustomerReferenceInfoType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Third party system Reference IDs for a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Discounts" type="FilterDiscountsType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Discount Associated to a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TemplateTravelAgentProfileType">
      <xs:annotation>
         <xs:documentation>Individual Travel Arranger</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="AgentName" type="AgentNameType" minOccurs="0" maxOccurs="50">
            <xs:annotation>
               <xs:documentation xml:lang="en">***SABRE ADDED *** Agent Name Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AgentInfo" type="AgentInfoType" minOccurs="0">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Agenct Information data</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AgentRelatedIndividuals" type="RelatedIndividualType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Agent Related Names Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AgentGDSIdentity" type="AgentGDSIdentityType" minOccurs="0" maxOccurs="10">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Agent GDS identity information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Address Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Telephone" type="TelephoneType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Telephone Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Email" type="EmailType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Email Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentForm" type="PaymentFormType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED*** Payment Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EmergencyContactPerson" type="EmergencyContactPersonType" minOccurs="0" maxOccurs="10">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Emergency Contact Person Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Document" type="DocumentType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Document Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustLoyalty" type="CustLoyaltyType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based *** Customer Loyalty (Frequent Flyer, Prefered Vendor etc.) Information</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EmploymentInfo" type="EmploymentInfoType" minOccurs="0" maxOccurs="25">
            <xs:annotation>
               <xs:documentation>*** Sabre Added *** EmploymentInfo elements and attributes, per Trading Partner Agreement (TPA)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GDS" type="GDSType" minOccurs="0" maxOccurs="5">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** GDS data associated with an agent</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PriorityRemarks" type="PriorityRemarksType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Priority Lines of a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Remark" type="RemarkType" minOccurs="0" maxOccurs="1000">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Remarks of a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomerReferenceInfo" type="CustomerReferenceInfoType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Third party system Reference IDs for a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BusinessSystemIdentityInfo" type="BusinessSystemIdentityInfoType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Agenct BackOffice System Information data</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Discounts" type="DiscountsType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation xml:lang="en">*** SABRE ADDED *** Discount Associated to a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomDefinedData" type="CustomDefinedDataType" minOccurs="0" maxOccurs="500">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Customer Defined Data</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PrefCollections" type="PrefCollectionsType" minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">***OTA Based*** Preferences of a Profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="QueueAssignments" type="QueueAssignmentsType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Queue Assignments</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Commissions" type="CommissionsType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Commissions</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Roles" type="RolesType" minOccurs="0">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Roles associated to a profile</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="STARData" type="STARDataType" minOccurs="0" maxOccurs="1000">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** STAR Data that got migrated to PPP *** Please Note that this is Temporary only and will not be supported in PPP after 2012</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SabreSecurityEntityAttribute" type="SabreSecurityEntityAttributeType" minOccurs="0" maxOccurs="50">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Sabre security attributes only that are added in TPF for a Travel Agent like CCView, this section will be populated as part of EPR to P3 Proifle conversion</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Incentives" type="IncentivesType" minOccurs="0" maxOccurs="200">
            <xs:annotation>
               <xs:documentation>*** SABRE ADDED *** Incentives</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>